# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Ceasar-Encryption/.vs
/Ceasar-Encryption/Ceasar-E.35e94eda
/Ceasar-Encryption/x64
/Ceasar-Encryption/Cipher/x64
/Ceasar-Encryption/CipherLib/x64
